/* Work sans fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Lora fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*======================
    Common Styling  
======================*/

:root {
    --link-hover: rgb(41, 186, 244);
}

body {
    font-family: "Work Sans", sans-serif;
}

.common-heading {
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Lora", serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* ALL Cards STyling   */

.card {
    border: none;
    cursor: pointer;
}

.card-content {
    margin: 5px;
    border: 1px solid rgb(173, 167, 167);
    border-radius: 5px;
}

.card-details {
    padding: 10px;
    font-family: "Work Sans", sans-serif;
}

.card-content .image {
    height: 120px;
}

.card-content .image img {
    border-radius: 3px 3px 0px 0px;
    height: 130px;
    width: 100%;
}

.card-content .price {
    font-weight: 600;
}

.card-content .add-fav-icons {
    font-size: 25px;
}

.card-content .mob-details {
    font-size: 15px;
}

.card-content .location {
    font-size: 13px;
}

.card-content .date {
    font-size: 12px;
}


/*----------------------------*/

/*======================
    HEADER Styling  
======================*/
.header-first-section {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.brand img {
    height: 40px;
}

.sticky_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: white;
    padding: 10px;
    height: 130px;
}

.nav-container {
    margin-top: 120px;
    margin-bottom: 20px;
}

.car,
.building {
    width: 40px;
    background: linear-gradient(180deg, rgba(0, 47, 52, .16), rgba(0, 47, 52, .01) 81.77%, rgba(0, 47, 52, .01));
}

.car img,
.building img {
    width: 25px;
}

nav ul li a {
    color: black !important;
    font-size: 15px;
    padding: 0 15px !important;
}

nav ul li a:hover {
    color: var(--link-hover) !important;
}

.header-second-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-second-section .locatin {
    width: 20vw;
    height: 40px;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.header-second-section .search {
    width: 45vw;
    height: 40px;
    border: 0.5px solid black;
    border-radius: 5px;
}

.bottons {
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 10px; */
}

.sell-btn {
    background-image: url('../Asset/button-border.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-position: center; */
}

.sell-btn img {
    width: 20px;
}

.sell-btn span {
    font-size: 15px;
}

/* << DROPDOWN STYLING >> */
.dropdown-menu-container {
    padding: 20px;
    width: 90vw;
}

.dropdown-menu li {
    list-style-type: none;
    font-size: 13px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    color: var(--link-hover);
}

.nav-item-heading {
    font-weight: bold;
    margin: 10px 0;
}

/* CAROUSEL */
.carousel-inner {
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

/* CATEGORY STYLING */
.cat-card {
    width: 140px;
}

.cat-card img {
    width: 90px;
}

.cat-name {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 700;
}

/* second last images container  */
.second-last-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.second-last-container .third-col{
    vertical-align: middle;
}
.container-col{
    padding: 30px;
}
.third-col{
    margin-top: 50px;
}
.jazz-ad{
    width: 100%;
    /* text-align: center; */
}
.jazz-ad>img {
    width: 70%;
}

/*======================
    FOOTER Styling  
======================*/
footer {
    background-color: #ebeeef;
    position: relative;
}

footer .row p {
    font-size: 15px;
}

footer .row a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.footer-end {
    background-color: #002f34;
    color: white;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    padding: 10px;
    text-align: end;
}